KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=sfa-poc
CLIENT_ID=tpp-demo
CLIENT_SECRET=tpp-demo-secret-local-dev
REDIRECT_URI=http://localhost:3000/callback
SCOPE=openid profile email accounts:read
CALLBACK_HOST=localhost
CALLBACK_PORT=3000
# Opcional: GET protegido del Resource Server (requiere RS con validacion DPoP)
# RESOURCE_SERVER_URL=http://localhost:9090/cities
