PORT=9090
KEYCLOAK_ISSUER=http://sfa.localtest.me:8080/realms/sfa-poc
KEYCLOAK_JWKS_URI=http://sfa.localtest.me:8080/realms/sfa-poc/protocol/openid-connect/certs
KEYCLOAK_AUDIENCE=resource-server
REQUIRED_SCOPE=accounts:read
